<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт патриотического развития</title>
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css"/> 
</head>
<body>
    <header class="container-fluid">
        <div class="container d-flex">
            <nav class="menu">
                <a href="/main">Главная</a>
                <a href="/articles">Список статей</a>
                <a href="/sitegallery">Галерея</a>
                <a href="/aboutsite">О сайте</a>
                <div id="auth-section" class="auth-section">
                    <a href="/login" id="login-link">Вход</a>
                </div>
            </nav>
        </div>
        <div class="nazvanie">
            <h1 style="color: rgb(248, 236, 234);">Сайт</h1>
            <h1 style="color: rgb(14, 105, 223);">Патриотического</h1>
            <h1 style="color: rgb(255, 58, 58);">Развития</h1>
        </div>
    </header>
    <div class="prostranstvo">
        <div class="historytext">
            <h1> История Патриотизма</h1>
            <div>
                Славься, славься, ты Русь моя
                Славься, ты русская наша земля
                Да будет во веки веков сильна
                Любимая наша страна
    
                Так было в России с далёких времён
                Чем выше давление, тем крепче бетон
                И если опасность державе грозит
                Становится Родина, как монолит
    
                В горниле победы сегодня как встарь
                Опять закаляется Родины сталь
                Россия, Россия — в этом слове огонь и сила
                В этом слове победы пламя
                Поднимаем России знамя
    
                Россия, Россия — в этом слове огонь и сила
                В этом слове победы пламя
                Поднимаем России знамя
    
                Пусть время нас бурным потоком несёт
                За нами Россия, за нами народ
                Традиции святы и тысячи лет
                Продолжится летопись наших побед
    
                А если врагов налетит вороньё
                Их снова Отечество встретит моё
                Россия, Россия — в этом слове огонь и сила
                В этом слове победы пламя
                Поднимаем России знамя
    
                В этом слове источник силы
                Повторяем: «Вперёд, Россия»
                Россия, Россия — в этом слове огонь и сила
                В этом слове победы пламя
                Поднимаем России знамя
            </div>
        </div>
    </div>
    <footer class="footer-grid">
        <div class="footer-column">
            <h2 style="color: rgb(248, 236, 234);">Сайт</h2>
            <h2 style="color: rgb(14, 105, 223);">Патриотического</h2>
            <h2 style="color: rgb(255, 58, 58);">Развития</h2>
        </div>
        <div class="footer-column">
            <h3>НАШИ КОНТАКТЫ</h3>
            <ul>
              <li><a">TX.5000rus@yandex.ru</a></li>
              <li><a>г.Оймякон ул.Мерзлая д.12</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>ПОДДЕРЖКА</h3>
            <ul>
              <li><a>У вас все получится</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>О Сайте</h3>
            <ul>
              <li><a href="/aboutsite">История сайта</a></li>
            </ul>
        </div>     
    </footer> 
    <script src="/js/auth.js"></script> 
</body>
</html>
