<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт патриотического развития</title>
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css"/> 
</head>
<body>
    <header class="container-fluid">
        <div class="container d-flex">
            <nav class="menu">
                <a href="/main">Главная</a>
                <a href="/articles">Список статей</a>
                <a href="/sitegallery">Галерея</a>
                <a href="/aboutsite">О сайте</a>
                <div id="auth-section" class="auth-section">

                </div>
            </nav>
        </div>
        <div class="nazvanie">
            <h1 style="color: rgb(248, 236, 234);">Сайт</h1>
            <h1 style="color: rgb(14, 105, 223);">Патриотического</h1>
            <h1 style="color: rgb(255, 58, 58);">Развития</h1>
        </div>
    </header>
    <div class="objects">
        <div class="articles-container">

        </div>
    </div>
    <div class="more-articles-section">
        <a href="/articles" class="more-articles-button">Больше статей →</a>
    </div>
    <div class="images">
        <div class="gallery-container-main">
            
        </div>
    </div>
    <div class="more-images-section">
        <a href="/sitegallery" class="more-articles-button">Больше картинок →</a>
    </div>
    <div class="modal-overlay">
        <div class="modal-content">
            <img class="modal-image" src="" alt="">
            <div class="modal-caption">
                <span class="caption-text"></span>
                <button class="delete-image-button hidden">Удалить</button>
            </div>
        </div>
    </div>
    <footer class="footer-grid">
        <div class="footer-column">
            <h2 style="color: rgb(248, 236, 234);">Сайт</h2>
            <h2 style="color: rgb(80, 136, 209);">Патриотического</h2>
            <h2 style="color: rgb(255, 58, 58);">Развития</h2>
        </div>
        <div class="footer-column">
            <h3>НАШИ КОНТАКТЫ</h3>
            <ul>
              <li><a">TX.5000rus@yandex.ru</a></li>
              <li><a>г.Оймякон ул.Мерзлая д.12</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>ПОДДЕРЖКА</h3>
            <ul>
              <li><a>У вас все получится</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>О Сайте</h3>
            <ul>
              <li><a href="/aboutsite">История сайта</a></li>
            </ul>
        </div>     
    </footer> 
    <script src="/js/sitegallery.js"></script>
    <script src="/js/articles.js"></script> 
    <script src="/js/auth.js"></script>
</body>
</html>
